.faq {
	background-color: $veryLightGray;
}
.active{
    display: block;
}
.accordion-container {
    border-radius: 100px;

    .accordion-title {
        position: relative;
        margin: 0;
        padding: 0.625em 0.625em 0.625em 2em;
        font-size: 1em;
        font-weight: normal;
        background-color: $darkBlue;
        color: $lightWhite;
        cursor: pointer;

        &:hover,&:active,&.open {
            background-color: #688578;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 25px;
            width: 15px;
            height: 2px;
            transform: rotate(90deg);
            background: #fff;
            transition: all .3s ease-in-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 25px;
            width: 15px;
            height: 2px;
            background: rgb(255, 254, 254);
            transition: all .2s ease-in-out;
        }

        &.open::before {
            transform: rotate(180deg);
        }

        &.open::after {
            opacity: 0;
        }
    }

    .accordion-content {
        background-color: $lightGrayishBlue;
        padding-left: 2.3125em;
        border: 1px solid $limeGreen;

        p{
            color: #9698a6;
        }
      }
      .active-content {
        @extend .accordion-content

      }

    



}